body {
padding: 0 !important;
margin: 0 !important;
display: block !important;
min-width: 100% !important;
width: 100% !important;
background: #333545;
-webkit-text-size-adjust: none;
}
element.style {
    padding: 30px 0px 20px 0px;
}
.preheader {
padding-bottom: 20px !important;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}